/* :root{
    --colorAmarillo: #EAC926;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --colorVerdemusgo:#1a4809
    --colorNegro: #000;
    --colorBlanco: #FFF;
} */

/*GENERAL*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f2f2f3;
}

p{
    font-size: 12px;
}

/*MAIN*/

main{
    width: 90%;
    margin: 0 auto;
}

main section h3{
    margin: 20px 0px;
}

main section article{
    background-color: #FFF;
    margin: 10px 0;
}

main section article img{
    width: 80%;
    padding: 5px;
}

main section article figure {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    align-items: center;
}

.destacados h3{
    color:#1a4809;
    text-align: center;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

article div.main-article i{
    font-size: 16px;
    text-align: center;
    background-color: #FFF;
    width: 35px;
    height: 35px;
    padding: 7px;
    margin-bottom: 5px;
    transition: all 600ms;
}


.price-and-discount{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.price-and-discount .price {
    width: 28%;
    color:#1a4809;
}

article div.main-article h4{
    margin-top: 20px;
    color: #666;
    display: none;
}

/* HEADER */

header{
    padding: 10 px;
}

.logo img{
    width: 100%;
}

header form input{
    border-radius: 5px;
    margin-right: 5px;
    color:#1a4809;
}

.top-navbar i{
    color: #1a4809;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div.top-header form {
    width:50%;
    max-width: 280px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

header figure.logo{
    width: 50%;
    max-width: 220px;
    padding: 10px;
}

header nav{
    font-size: 12px;
    display: none;
}

header nav ul{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}


header ul li{
    list-style-type: none;
    margin: 0 3px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    display: inline-block;
    font-size: 12px;
    padding: 8px 10px;
    margin-bottom: 2px;
    width: 70%;
    background-color: #FFF;
    outline: none;
    color: #666;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search input{
    border: transparent;
}

.search button{
    background-color: #1a4809;
    border-radius: 2px;
    border: transparent;
}

.search i{
    color:#FFF;
}

header .form .submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 2px;
    text-align: center;
    color: #000;
    font-weight: bold;
    background-color: #FFF;
    /* border: 1px solid #000; */
    border: none;
    border-radius: 0 5px 5px 0;
    width: 12%;
    margin-bottom: 2px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 40px;
    height: 40px;
}

div.burger-menu i{
    background-color: #1a4809;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    padding: 8px;
}


/* BANNER */

section.banner div{
    width: 100%;
    padding-top: 20px;
}

section.banner div img{
    width: 100%;
}

/* FOOTER */

footer {
    text-align:center;
    background-color: #ffffff;
}

footer h5{
    color: #2F552A;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer article i{
    color: #2F552A;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

footer section {
    padding-top: 30px;
}

footer h2 {
    margin:0;
    font-size: 20px;
}

footer i {
    color: #3ba92c;
    font-size: 2em;
    margin: 10px 0;
    width: 25%;
}

footer i:hover {
    color: #39b54a;
}

footer p {
    width: 70vw;
    margin: auto;
}

.planta img{
    width: 50%;
    align-items: center;
}

.copyright {
    text-align: left;
    padding: 20px 10px 15px;
    margin: 0;
    color: #2F552A;
}
/* carrito */

main{
    padding: 10px;
}

.carrito{
padding: 10px;
}

h4 {
    display: flex;
    text-align: center;
    color:#1a4809
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


.carrito {
    overflow-x: auto;
}

.cart-table thead td {
    background-color: #2F552A;
    color: white;
    font-weight: 400;
    padding: 5px 0;
    font-size: 15px;
}

thead {
    display: table-header-group;
    vertical-align:middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
}

td {
    display: table-cell;
    vertical-align: text;
    color:#1a4809
}

table {
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.cart-table-image img {
    width: 90%;
    height: 100px;
    padding: 2px 0 2px 0;
    object-fit: contain;
}

.product-quantity{
    width: 40%;
    justify-content: center;
}

div .cart-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.cart-bottom .total-price-container {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2F552A;
}

.cart-bottom .confirm-cart button{
    padding: 5px;
    background-color:#2F552A;
    color: #FFF;
    border: none;
    border-radius: 6px;
    transition: all 0.5s;
    position: relative;
    left: 4em;
}


/* MEDIA QUERIES */

@media (min-width: 481px){

    /* MAIN */

    main section div article {
        width: 45%;
        transition: box-shadow 600ms;
    }

    main section div article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article div.main-article h4{
        transition: display 600ms;
    }
    
    article:hover div.main-article h4{
        display: block;
    }

    main section div.productos {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .price {
        width: 85px;
        text-align: center;
    }

    .description{
        color:#1a4809;
        text-align: center;
    }

    /* HEADER */

    header nav{
        display: block;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .navbar{
        display: flex;
        justify-content: center;
    }
    .navbar a{
        color: #2F552A;
    }

    div.burger-menu{
        display: none;
    }


/*carrito */

.cart-bottom .confirm-cart button{
    position: relative;
    left: 34em;

}
}

@media (min-width:960px) {

    /* MAIN */

    main section div article {
        width: 23%;
    }

    main section div.productos {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* HEADER */


    header ul li{
        margin: 0 10px;
    }

    header div.top-header p {
        width: 280px;
        margin: 0;
    }

    header nav {
        padding: 0 5%;
    }

    .top-navbar i{
        color: #1a4809;
    }
    

    /*FOOTER*/

    footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    footer section {
        width: 30%;
    }

    footer section p {
        margin-top: 10px;
        width: 100%;
    }

    footer section p.copyright {
        text-align: center;
    }
/*carrito*/
.cart-bottom .confirm-cart button{
    position: relative;
    left: 47em;
}

}









